.header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #000000;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f9f9f9;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
}

.navLink:hover {
  color: #3a99fe;
}
